@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* biome-ignore lint/suspicious/noUnknownAtRules: this rule is imported from whop */
@config '../tailwind.config.ts';

/* Load frosted-ui styles */
@import "@whop/react/styles.css";

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--default-font-family);
}
